<!-- encuesta.component.html -->

<div>
    <mat-card class="instrucciones">
    <h1>Encuesta informativa de campaña</h1>
    
    <p>Usuario:Barredor1</p>
    <p>ubicacion de encuesta: {{ubicacion}}</p>
    </mat-card>
</div>

<div class="encuesta-container">

    <div class="pregunta-card">
        <mat-card class="card-quest">
            <h3>{{preguntas[0].enunciado}}</h3>
            <mat-radio-group [(ngModel)]="preguntas[0].respuesta" (change)="onRespuestaOpciones(0)">
                <ul class="opciones-list">
                    <li class="opciones-list-item" *ngFor="let opcion of preguntas[0].opciones" [value]="opcion">
                      <mat-radio-button [value]="opcion">{{ opcion }}</mat-radio-button>
                    </li>
                  </ul>
            </mat-radio-group>
        </mat-card>
    </div>

    <div class="pregunta-card">
        <mat-card class="card-quest">
            <h3>{{preguntas[1].enunciado}}</h3>
            <mat-radio-group [(ngModel)]="preguntas[1].respuesta" (change)="onRespuestaOpciones(1)">
                <ul class="opciones-list">
                    <li class="opciones-list-item" *ngFor="let opcion of preguntas[1].opciones" [value]="opcion">
                      <mat-radio-button [value]="opcion">{{ opcion }}</mat-radio-button>
                    </li>
                  </ul>
            </mat-radio-group>
        </mat-card>
    </div>

    <div class="pregunta-card">
        <mat-card class="card-quest">
            <h3>{{preguntas[2].enunciado}}</h3>
            <mat-radio-group [(ngModel)]="preguntas[2].respuesta" (change)="onRespuestaOpciones(2)">
                <ul class="opciones-list">
                    <li class="opciones-list-item" *ngFor="let opcion of preguntas[2].opciones" [value]="opcion">
                      <mat-radio-button [value]="opcion">{{ opcion }}</mat-radio-button>
                    </li>
                  </ul>
            </mat-radio-group>
        </mat-card>
    </div>

    <div class="pregunta-card">
        <mat-card class="card-quest">
            <h3>{{preguntas[3].enunciado}}</h3>
            <mat-radio-group [(ngModel)]="preguntas[3].respuesta" (change)="onRespuestaOpciones(3)">
                <ul class="opciones-list">
                    <li class="opciones-list-item" *ngFor="let opcion of preguntas[3].opciones" [value]="opcion">
                      <mat-radio-button [value]="opcion">{{ opcion }}</mat-radio-button>
                    </li>
                  </ul>
            </mat-radio-group>
        </mat-card>
    </div>

    <div class="pregunta-card">
        <mat-card class="card-quest">
            <h3>{{preguntas[4].enunciado}}</h3>
            <mat-radio-group [(ngModel)]="preguntas[4].respuesta" (change)="onRespuestaOpciones(4)">
                <ul class="opciones-list">
                    <li class="opciones-list-item" *ngFor="let opcion of preguntas[4].opciones" [value]="opcion">
                      <mat-radio-button [value]="opcion">{{ opcion }}</mat-radio-button>
                    </li>
                  </ul>
            </mat-radio-group>
        </mat-card>
    </div>

    <div class="pregunta-card">
        <mat-card class="card-quest">
            <h3>{{preguntas[5].enunciado}}</h3>
            <mat-form-field>
            <textarea matInput  placeholder="Ingresa su petición" [(ngModel)]="preguntas[5].respuesta" (change)="onRespuestaTexto(5)"></textarea>
            </mat-form-field>
        </mat-card>
    </div>

    <div class="pregunta-card">
        <mat-card class="card-quest">
            <h3>{{preguntas[6].enunciado}}</h3>
            <mat-form-field>
            <input matInput placeholder="Ingresa su nombre completo" [(ngModel)]="preguntas[6].respuesta" (change)="onRespuestaTexto(6)">
            </mat-form-field>
        </mat-card>
    </div>

    <div class="pregunta-card">
        <!-- Pregunta 4:  -->
        <mat-card class="card-quest">
            <h3>{{preguntas[7].enunciado}}</h3>
            <mat-form-field>
                <input matInput type="number" [(ngModel)]="preguntas[7].respuesta" (change)="onRespuestaTexto(7)">
            </mat-form-field>
        </mat-card>
    </div>


    <br>
    <br>
  
  <div class="boton-enviar" *ngIf="preguntasContestadas === totalPreguntas">
    <button class="custom-button" mat-raised-button color="primary" (click)="enviarEncuesta()">Enviar Encuesta</button>
  </div>

  <div class="indicador-progreso" *ngIf="preguntasContestadas < totalPreguntas">
    <h2>Contestadas: {{ preguntasContestadas }} / {{ totalPreguntas }}</h2>
  </div>
  </div>
  